# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual Environment
venv/
.venv/
env/

# IDE settings
.vscode/
.idea/

# Distribution / Packaging
dist/
build/
*.egg-info/

# OS specific rules
.DS_Store
Thumbs.db
